services:
  app:
    environment:
      - PROJECT_PATH=/project/uv_template
      # prevents python creating .pyc files at runtime
      - PYTHONDONTWRITEBYTECODE=1
      # compile python dependencies into .pyc files
      - UV_COMPILE_BYTECODE=1
      - PYTHONDEVMODE=0
      - TZ=Asia/Taipei
    build:
      context: .
      target: prod
      # secrets:
      #   - GIT_AUTH_TOKEN
      args:
        - PROJECT_PATH=/project/uv_template
        - TZ=Asia/Taipei
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           capabilities: [gpu]

# secrets:
#   GIT_AUTH_TOKEN:
#     environment: GIT_AUTH_TOKEN
